@media (max-width: 800px) {
    .marquee-item{
        font-size: 30px;
    }
}

@media (min-width : 801px) and (max-width: 1000px) {
    .marquee-item{
        font-size: 40px;
    }
}

@media (max-width : 460px) {
    .get-offer-button{
        margin-bottom: 10px;
    }
}

/* Media query for screens smaller than 768px (you can adjust the width if needed) */
/* @media (max-width: 768px) {
    .img-fluid {
        width: 67% !important;
    }
} */

.pointer{
    cursor: pointer !important;
}

.blogs-and-news{
    color: #fa4f09;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    margin-top: 15px;
    text-align: end;
    margin-right: 10px;
    cursor: pointer;
}

/* Ensure the arrows only apply to this specific swiper instance */
.custom-swiper .swiper-button-prev,
.custom-swiper .swiper-button-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
}

.custom-swiper .swiper-button-prev {
  left: 10px;
}

.custom-swiper .swiper-button-next {
  right: 10px;
}

.custom-swiper .swiper-button-prev:hover,
.custom-swiper .swiper-button-next:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
