@media (max-width: 800px) {
    .marquee-item{
        font-size: 30px;
    }
}

@media (min-width : 801px) and (max-width: 1000px) {
    .marquee-item{
        font-size: 40px;
    }
}

@media (max-width : 460px) {
    .get-offer-button{
        margin-bottom: 10px;
    }
}