@media (max-width: 767px) {
  .top__header .top__wrapper .account__wrap .cart .cart__icon {
    background-color: white !important;
  }
  .cart-icon {
    color: black !important;
  }
}

@media (max-width : 991px){
  .search-div{
    display: none;
  }
}

.cart-icon {
  color: white;
}