@media (max-width: 767px) {
  .top__header .top__wrapper .account__wrap .cart .cart__icon {
    background-color: white !important;
  }
  .cart-icon {
    color: black !important;
  }
}

@media (max-width : 991px){
  .search-div{
    display: none;
  }
}

.cart-icon {
  color: white;
}

.order-message {
  font-size: 13px;
  color: white;
  text-align: center;
  border-radius: 3px;
  background-color: red;
}
.delivery-header-icon {
  color: black; /* Green color for delivery icon */
  margin-right: 10px;
}